.custom-navbar {
  background-color: #7f7fff !important;
}

.custom-offcanvas {
  background-color: #7f7fff !important;
}

.custom-slidemenu{
  border-radius: 10px !important;
}

.textefont{
  color: white;
}

#modal_info {
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
}


