.custom-navbar {
  background-color: #7f7fff !important;
}

.custom-offcanvas {
  background-color: #7f7fff !important;
}

.custom-slidemenu{
  border-radius: 5px;
}

.textefont{
  color: white;
}

.gap5{
  gap: 5px;
}

