body {
  background: linear-gradient(135deg, #6c63ff, #8ec5fc);
}

.card {
  border: none;
  border-radius: 15px;
}

.btn-primary {
  background-color: #6c63ff;
  border: none;
}

.btn-primary:hover {
  background-color: #5a54e0;
}

#fireworksCanvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    pointer-events: none;
}

